*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

h1 {
    display: block;
}

.title {
    font-size: 40px;
    color: #f9efaf;
    line-height: 0;
    margin: 40px 0;
    max-height: 10vh;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1100px;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1 1 0;
}

.textarea {
    width: 100%;
    display: block;
    line-height: 1.5;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #f4a261;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#F9EFAF, #F7E98D);
    font-size: 20px;
    resize: none;
    outline: none;
    margin-bottom: 20px;
    height: 100px;
}

.textarea::-webkit-scrollbar {
    width: 10px;
}

.textarea::-webkit-scrollbar:active {
    width: 15px;
}

.textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

.textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #f4a261;
    cursor: pointer;
}

.form {
    max-height: 40vh;
}

input[type=submit] {
    background-color: #457b9d;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color: #02c39a;
    border: 2px solid #02c39a;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .3s linear, color .3s linear;
}

input[type=submit]:focus {
    outline: none;
}

input[type=submit]:hover {
    background-color: #02c39a;
    color: #457b9d;
}

input[type=color] {
    appearance: none;
    border: none;
    width: 21px;
    height: 21px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #457b9d;
    border-radius: 5px;
    background: #f9efaf;
}

input[type=color]:focus {
    outline: none;
}

.select {
    color: #f9efaf;
}

select {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #457b9d;
    border-radius: 5px;
    border: none;
    background: #f9efaf;
    transition: background .1s linear, color .1s linear;
}

.font-wrapper, .color-wrapper, .output-wrapper {
    margin-bottom: 5px;
}

.output {
    border: 2px solid #f4a261;
    display: block;
    overflow: auto;
    min-height: 400px;
    max-height: 50vh;
    height: 200%;
    border-radius: 10px;
    background: linear-gradient(#1d3557, #102849);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align-last: left;
    padding: 15px;
    width: 100%;
}

.output::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.output::-webkit-scrollbar-corner {
    display: none;
}

.output::-webkit-scrollbar:active {
    width: 15px;
}

.output::-webkit-scrollbar-track {
    background-color: transparent;
}

.output::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #f4a261;
}

#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url('img/bg.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }
  
  
  .notfound h2 {
    font-family: 'Montserrat', sans-serif;
    color: #00529b;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }
  
  .notfound p {
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: red;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
            box-shadow: 0px 4px 15px -5px #0046d5;
  }
  
  
  @media only screen and (max-width: 767px) {
      .notfound .notfound-404 {
        height: 142px;
      }
      .notfound .notfound-404 h1 {
        font-size: 112px;
      }
  }
  