@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
@font-face {
    font-family: 'milkshakeregular';
    src: url('milkshake-webfont.woff2') format('woff2'),
    url('milkshake-webfont.woff') format('woff'),
    url('Milkshake.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: linear-gradient(60deg,rgba(255,9,59,.5), rgba(18,194,233,.5), rgba(246,79,89,.5)), url('img/bg.jpg');
}

h1 {
    margin-left: 100px;
    font-size: 90px;
    font-family: 'milkshakeregular', sans-serif;
    
    background: url('img/bg.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: top;
}




.form-input {
    grid-area: form;
}

.form-output {
    position: relative;
    left: 20px;
    top: 150px;
    grid-area: output;
    height: 300px;
    width: 100%;
    overflow: auto;
    padding: 50px;
    border: 1px outset black;
    border-radius: 15px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.footer {
    
    margin-top: -350px;
    margin-left: 700px;
    font-size: 15px;
    color: whitesmoke;
}
.footer a {

    text-decoration: none;
    transition: color .5s;
    color: whitesmoke;
}
.footer a:hover {
    color: rgb(128, 128, 128);
}

.main {
    
    justify-content: center;
    display: grid;
    grid-template-rows: 220px 300px 450px 100px;
    grid-template-areas: 
        "header header header header"
        ". form form ."
        ". output output ."
 ;
}

.font-select {
    position: relative;
    top: -100px;
    left: 200px;
    grid-area: font;
    font-size: 16px;
    box-shadow: 0 13px 10px 0 black;
    width: 150px;
    height: 50px;
    font-weight: 700;
    place-self: center;
    transition: box-shadow .5s;
}



.btn {
    font-size: 16px;
    box-shadow: 0 13px 10px 0 black;
    width: 150px;
    height: 50px;
    font-weight: 700;
    transition: box-shadow .5
}


.input {
    position: relative;
    top: 150px;
    left: -150px;
    grid-area: input;
    resize: none;

    border-radius: 25px;
    border: 3px outset black;
    padding: 15px;
    margin-top: 5px;
    box-shadow: 0 1px 10px 0 black;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transition: box-shadow .5s;

}

.form {

    grid-template-rows: 100px 250px;
    grid-template-areas: 
        ". font btn ."
        ". input input .";

}



.btndw {
    position: relative;
    top: 20px;
    left: -50px;
}

.btnsb {
    position: relative;
    top: -100px;
    left: 250px;
}



.container-grille {
    height: 100vh;
    width: 100%;
    justify-content: center;
}