@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    
}
@font-face {
    font-family: 'milkshakeregular';
    src: url('milkshake-webfont.woff2') format('woff2'),
    url('milkshake-webfont.woff') format('woff'),
    url('Milkshake.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;


}

body {
    background-image: linear-gradient(60deg,rgba(255,9,59,.5), rgba(18,194,233,.5), rgba(246,79,89,.5)), url('img/bg.jpg') ;

}
h1 {
    font-family: 'milkshakeregular', sans-serif;
    font-size: 100px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url('img/bg.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: top;
}


.main {
    min-height: 100vh;
    width: 1024px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.header {
    grid-area: header;
}

.form-input {
    grid-area: form;
}

.form-output {
    grid-area: output;
    width: 100%;
    overflow: auto;
    padding: 50px;
    border: 1px outset black;
    border-radius: 15px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.footer {
    grid-area: footer;
    padding: 35px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    color: whitesmoke;
}
.footer a {
    text-decoration: none;
    transition: color .5s;
    color: whitesmoke;
}
.footer a:hover {
    color: rgb(128, 128, 128);
}

.main {
    display: grid;
    grid-template-columns: 200px 450px 312px 200px;
    grid-template-rows: 220px 300px 450px 100px;
    grid-template-areas: 
        "header header header header"
        ". form form ."
        ". output output ."
        "footer footer footer footer";
        justify-items: center;
}

.font-select {
    grid-area: font;
    font-size: 16px;
    box-shadow: 0 13px 10px 0 rgba(0,0,0);
    width: 150px;
    height: 50px;
    font-weight: 700;
    place-self: center;
    transition: box-shadow .5s;
}
.font-select:hover {
    box-shadow: 0 1px 10px 0 rgba(0,0,0, .5);
}
.btn {
    grid-area: btn;
    font-size: 16px;
    box-shadow: 0 13px 10px 0 rgba(0,0,0);
    width: 150px;
    height: 50px;
    font-weight: 700;
    place-self: center;
    transition: box-shadow .5s;
}
.btn:hover {
    box-shadow: 0 1px 10px 0 rgba(0,0,0, .5);
}

.input {
    grid-area: input;
    resize: none;
    margin-bottom: 50px;
    border-radius: 25px;
    border: 3px outset black;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transition: box-shadow .5s;
}
.input:hover {
    box-shadow: 0 1px 10px 0 rgba(0,0,0, .5);
}

.form {
    display: grid;
    grid-template-columns: 100px 212px 212px 100px;
    grid-template-rows: 100px 200px;
    grid-template-areas: 
        ". font btn ."
        ". input input .";
}

.cat {
    position: absolute;
    bottom: 0;
    margin: 50px;
}